* {
  box-sizing:border-box;
}
body {
  width:1360px;
  height:768px;
  margin: 0;
  overflow: hidden;
  border: solid #8A2629 5px;
}
.eventList {
  padding: 10px;
  position: absolute;
  top:0;
  left:500px;
  width:860px;
  white-space: nowrap;
  z-index:0;
}
#sidebar {
  position: absolute;
  top:50px;
  left:0;
  width: 480px;
  text-align: center;
  font-size:100px;
  font-weight: bold;
  padding:10px;
  line-height: 100%;
  white-space: nowrap;
}
#logo {
  margin: 0 auto;
  display: block;
}
#clock {
  font-size:90px;
}
a:link,
a:visited {
  color: black;
}
body,
table td {
  font-family: 'Lato', 'Gill Sans', 'Gill Sans MT';
  font-size: 30px;
}
.s-lc-ea-ttit td {
  font-weight: bold;
  font-size: 40px;
}
.s-lc-ea-ttim,
.s-lc-ea-tloc {
  display: inline;
  padding-right: 1em;
}
.s-lc-ea-tloc {
  font-style: italic;
}
.eventList h3,
.s-lc-ea-l,
.s-lc-ea-tdat,
.s-lc-ea-tcat,
.s-lc-ea-tdes,
.s-lc-ea-tpre { display: none; }
